*,
*:before,
*:after {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  font-size: 40px;
  background-color: bisque;
  color: bisque;
  border: 2px solid black;
  border-radius: 8px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, aquamarine 0%, bisque 51%, aquamarine 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.disabled {
  background-color: aquamarine;
  color: black;
}

.find {
  background-color: chartreuse;
  color: black;
}

.hidden {
  display: none;
}

.input {
  width: 350px;
  font-size: 13px;
  padding: 11px 0 9px 10px;
  border: 1px solid black;
  background-image: linear-gradient(to right, bisque 0%, aquamarine 51%, bisque 100%);
  background-size: 200% auto;
  border-radius: 8px;
}

.timer {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.game-over {
  pointer-events: none;
}